.selections {
  display: flex;
  justify-content: space-evenly;
}

.selection {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 8rem;
  transition: all ease 0.2s;
}

.selection:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.results {
  margin-top: 1rem;
  font-size: 3rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.result-score {
  margin-left: 0.1rem;
  font-size: 2rem;
  color: #333;
}

.result-selection {
  opacity: 0.5;
}

.result-selection-winner {
  opacity: 1;
  font-size: 4rem;
}
